@model IEnumerable<myauth.Models.Produit>

@using GridMvc.Html
@{
    ViewBag.Title = "OwnerProductVerication";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 class="text-center text-secondary">Owner Product Verication</h2>
<br />

@using (Html.BeginForm())
{
    <div class="row">
        <div class="mx-auto h-50">

            <div class="form-group">
                <span class="icon" style="position: absolute; left: 2px; top: 0; padding:0px 0px 10px 0px; font-size: 25px; color:purple ;height: 100%; display: flex; align-items: center; justify-content: center;"><i class="material-icons">search</i></span>
                <input type="text" name="Search" class="form-control" style="padding: 3px 0px 3px 30px; " placeholder="Search...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto h-50">

            <input type="submit" value="Id Prop" name="button" class="btn btn-default btn-primary btn-sm " style="width:120px;" />
            <input type="submit" value="Description" name="button" class="btn btn-default cancel btn-primary btn-sm " style="width:120px;" />
            <input type="submit" value="Prix" name="button" class="btn btn-default cancel btn-primary btn-sm " style="width:120px;" />
            <input type="submit" value="Product Id" name="button" class="btn btn-default cancel btn-primary btn-sm " style="width:120px;" />
            <input type="submit" value="Remove filter" name="button" class="btn btn-default cancel btn-primary btn-sm " style="width:120px;" />

        </div>
    </div>
}

@Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.IdProduit).Titled("Id Produit").Filterable(true);
    Columns.Add(c => c.Prix).Titled("Prix").Filterable(true);
    Columns.Add(c => c.DateAddition).Titled("Date d'addition").Filterable(true);
    Columns.Add(c => c.Titre).Titled("Titre").Filterable(true);
    Columns.Add(c => c.Proprietaire.IdPropritaire).Titled("Id Proprietaire").Filterable(true);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Add To Favorite", "VerificationSuccess", new { id = c.IdProduit }, new { @class = "btn btn-default btn-primary btn-sm" }));
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Delete", "VerificationDelete", new { id = c.IdProduit }, new { @class = "btn btn-default btn-danger btn-sm" }));

}).WithPaging(10).Sortable(true)

<link rel="stylesheet" href="~/Frontend/verifiSuccess/Style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>


    
    <div class="alert hide">
        <span class="fas fa-check-circle"></span>
        <span class="msg" style="font-size:13px">@ViewBag.showSuccess</span>
        <div class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>



@if (ViewBag.showSuccess != null)
{
<script>
    $('.alert').addClass("show");
    $('.alert').removeClass("hide");
    $('.alert').addClass("showAlert");
    setTimeout(function () {
        $('.alert').removeClass("show");
        $('.alert').addClass("hide");
    }, 5000);

</script>
}

<script>
    $('.close-btn').click(function () {
        $('.alert').removeClass("show");
        $('.alert').addClass("hide");
    });
</script>
